:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --card-bg: #f9f9f9;
    --primary-color: #0077ff;
    --header-bg: rgb(14, 17, 23);
    /* header-footer */
    --header-footer-bg: #0077ff;
    --header-footer-text: #ffffff;
    /* --nav-height: 50px; */
    color-scheme: light dark;
    --bg-dark: rgb(12, 10, 9);
    --bg-light: rgb(248, 244, 238);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
    --line-light: rgba(0 0 0 / .25);
    --line-dark: rgba(255 255 255 / .25);
    --clr-bg: light-dark(var(--bg-light), var(--bg-dark));
    --clr-txt: light-dark(var(--txt-light), var(--txt-dark));
    --clr-lines: rgb(235, 0, 162);
    --nav-indicator-hover: rgb(64, 12, 53);
    /* --nav-indicator-active: rgb(235, 0, 162); */
    --header-background1: rgb(121, 3, 227);
    --nav-bg: rgb(5, 47, 74);
    --nav-link-color: white;
    --nav-link-color-active: white;
    --nav-padding: 5px;
    --nav-border-radius: 15px;
    /* subnav radius vw是相对viewport值 */
    --subnav-border-radius: 15px;
    --nav-trans-duration: 700ms;
    --nav-trans-easing: linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
    --mainbody-bg: rgb(28, 26, 23);
    --spacing-margin: 3.125rem;
}

html[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --text-color: #f0f0f0;
    --card-bg: #2a2a2a;
    --primary-color: #111111;
    /* header-footer */
    --header-footer-bg: #111111;
    --header-footer-text: #f0f0f0;
}