/* ------------整体布局结构--------------- */
body {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    justify-content: space-between;  /*左右分布，三栏布局则不需要设置这个 */
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    /* 三行表示滚动时header浮动 sticky无效 fixed有效*/
    /* position: sticky; */
    /* position: fixed; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    gap: 0 var(--spacing-lg); 
    padding: var(--spacing-md) var(--spacing-lg); /*header只在这里设置总边距，其余都logo、h1、nav和action都去掉上下边距 */
    /* z-index: 1000; */
    transition: all 0.3s ease;
}

/* main 占据剩余空间 */
.content {
    flex: 1;
    display: flex;
    /* header 高度，在header置顶浮动时，让 main 不被 header 遮挡 */
    /* margin-top: 80px;  */
}

.sidebar {
    width: 200px;
    padding: var(--spacing-md);
    border-right: 1px solid var(--color-border);
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-lg);
}

 img {
    /* justify-items: center; */

}

/* footer 固定在底部 */
.site-footer {
    padding: var(--spacing-md);
    text-align: center;
    border-top: 1px solid var(--color-border);
    font-size: 0.9em;
}

/* ------------以下是局部布局--------------- */
/* header的左中右布局 */
/* logo-title，相当于header-left*/
.header-logo {
    flex: 0 0 auto;  /* 左中右布局要 */
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0 var(--spacing-md);  /* 按钮间距，参考0.5rem  */
    padding: 0;
    margin: 0;
}

/* h1要设置，否则高度会撑开上下20px */
.header-logo h1 {
    margin: 0;
}

/* header-actions相当于header-right布局 */
.header-actions {
    /*flex: 0 0 auto;   左中右布局要 */
    margin-left: auto; /* 推到最右 */
    display: flex;
    align-items: center;
    gap: 0 var(--spacing-md); /* 按钮间距，参考0.5rem  */
    padding: 0;
}
