.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 2rem;
}

.theme-btn img {
    width: 24px;
    height: 24px;
}

/* body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark header {
    background-color: #1e1e1e;
} */