<!-- <header class="site-header" id="siteHeader"> -->
<!-- header-left -->
<div class="header-logo">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h1 class="site-title">Ultrakill</h1>
</div>
<!-- header-center -->
<nav class="main-nav">
    <ul>
        <li>
            <a href="pages/home.html">Home</a>
        </li>
        <li class="has-submenu">
            <a href="#">Topics</a>
            <ul>
                <li><a href="pages/gamedevelopment.html">Game Development</a></li>
                <li><a href="pages/internet.html">The Internet</a></li>
                <li><a href="pages/programming.html">Programming</a></li>
                <li><a href="pages/webdevelopment.html">Web Development</a></li>
            </ul>
        </li>
        <li class="has-submenu">
            <a href="#">Blogs</a>
            <ul>
                <li><a href="pages/blog1.html">Blog 1</a></li>
                <li><a href="pages/blog2.html">Blog 2isfsfesfefdfdfsdf</a></li>
            </ul>
        </li>
        <li><a href="pages/about.html">About Me</a></li>
    </ul>
    <!-- <span class="nav-indicator"></span> -->
</nav>
<!-- header-right -->
<!-- 加了header-actions此div分组，这些按钮就已靠右 -->
<div class="header-actions">
    <select id="themeSelector" title="Toggle">
        <option value="light">light</option>
        <option value="dark">dark</option>
        <option value="sepia">sepia</option>
    </select>
    <button id="darkModeToggle" class="dark-mode-btn" title="Toggle dark mode">
        <img src="assets/moon.png" alt="Toggle dark mode" id="darkModeIcon">
    </button>
    <!-- 以后可以加 -->
    <button class="icon-btn">🔔</button>
    <button class="icon-btn">👤</button>
</div>
<!-- </header> -->