@layer base, demo;

@layer demo {
    :root {
        --nav-indicator-hover: rgb(0, 105, 168);
        --nav-indicator-active: rgb(0, 166, 244);
        --nav-bg: rgb(5, 47, 74);
        --nav-link-color: white;
        --nav-link-color-active: white;
        --nav-padding: 5px;
        --nav-border-radius: 999vw;
        --nav-trans-duration: 700ms;
        --nav-trans-easing: linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
    }

    /* Position and style of nav */
    .wrapper {
        position: relative;
        border: 1px solid var(--clr-lines);
        border-radius: var(--nav-border-radius);
        isolation: isolate;
        width: fit-content;
        padding: var(--nav-padding);
        background-color: var(--nav-bg);

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: anchor(top);
            left: anchor(left);
            right: anchor(right);
            bottom: anchor(bottom);
            z-index: -1;
            background: var(--nav-indicator-hover);
            transition: var(--nav-trans-duration) var(--nav-trans-easing);
            pointer-events: none;
            border-radius: inherit;
        }

        &::before {
            position-anchor: --hovered-option;
        }

        &::after {
            background: var(--nav-indicator-active);
            position-anchor: --active-option;
        }
    }

    /* Function of the nav */
    nav {
        anchor-name: --hovered-option;
        display: block;
        align-items: center;

        &>ul a {
            display: block;
            padding: .5em 1em;
            text-decoration: none;
            color: var(--nav-link-color);
            font-size: 1.2rem;
            transition: color 150ms ease-in-out;

            &:hover {
                anchor-name: --hovered-option;
            }
        }

        & {
            display: block;

            ul li {
                position: relative;
                list-style: none;
                display: inline-block;
            }

            ul li ul {
                position: absolute;
                display: none;
                border-style: solid;
                border: 10px 10px 10px 10px;
                border-color: white;
                border-radius: 5px 5px 5px 5px;
            }

            ul li:hover>ul,
            ul li ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
                min-width: 250px;
                /* padding-top: 20px; */
            }

            span {
                color: brown;
            }

            ul li::after {
                opacity: 1;
                anchor-name: --active-option;
                color: var(--nav-link-color-active);
            }

        }

    }
}

/* active link */


/* general styling not relevant for this demo */
@layer base {
    * {
        box-sizing: border-box;
    }

    :root {
        color-scheme: light dark;
        --bg-dark: rgb(12, 10, 9);
        --bg-light: rgb(248, 244, 238);
        --txt-light: rgb(10, 10, 10);
        --txt-dark: rgb(245, 245, 245);
        --line-light: rgba(0 0 0 / .25);
        --line-dark: rgba(255 255 255 / .25);

        --clr-bg: light-dark(var(--bg-light), var(--bg-dark));
        --clr-txt: light-dark(var(--txt-light), var(--txt-dark));
        --clr-lines: light-dark(var(--line-light), var(--line-dark));
    }

    body {
        background-color: var(--clr-bg);
        color: var(--clr-txt);
        min-height: 100svh;
        margin: 0;
        padding: 2rem;
        font-family: "Jura", sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        display: grid;
        place-content: center;
        gap: 2rem;

        &>* {
            outline: 1px dashed red;
        }
    }
}