.menu-header-bottom-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 105px;
    z-index: 9999;
}

.menu-header-bottom-items li {
    float: left;
    width: auto;
    color: #fff;
    text-align: center;
}

.menu-header-bottom-items li a {
    color: #fff;
    padding: 47px 43px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-header-bottom-items li a:hover {
    background: #00a94e;
}

.menu-header-bottom-items li.current-menu-item {
    background: #00a94e;
    margin-top: -20px;
    padding-bottom: 20px;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children ul {
    position: absolute;
    display: none;
    flex: 0;
}

.menu-item-has-children:hover>ul {
    display: block;
}

.menu-item-has-children li a {
    padding: 15px;
    text-align: left;
}

.menu-item-has-children li {
    padding: 0;
    float: none;
    background: url(http://s2.postimg.org/tlyo9809h/bg_header_strip.png);
}

.menu-item-has-children ul ul {
    left: 100%;
    top: 0;
}

ul.sub-menu li.menu-item-has-children {
    background: url(http://s28.postimg.org/ilizrjzax/arrow_right.png) no-repeat 95% center, url(http://s2.postimg.org/tlyo9809h/bg_header_strip.png);
}

ul.sub-menu li.menu-item-has-children:hover {
    background: #00a94e url(http://s28.postimg.org/ilizrjzax/arrow_right.png) no-repeat 95% center;
}

li.current-menu-item>ul {
    margin-top: 20px;
}

.sub-menu li a:hover {
    background: #00a94e;
}

ul.sub-menu li.menu-item-has-children a:hover {
    background: #00a94e url(http://s28.postimg.org/ilizrjzax/arrow_right.png) no-repeat 95% center;
}

.menu-header-bottom-items li:hover {
    background: #00a94e;
}